.ranking {
  height: 100vh;
  padding-top: 60px;
}

.ranking_container {
  margin: 0 100px;
  background-color: white;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
}

.ranking_user-container {
  padding: 15px 0;
}

.ranking_user-container-border {
  border-top: 1px solid black;
}

.ranking_user-text {
  margin-right: 12px;
  font-size: 26px;
}