.question {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.question_header {
  width: 80%;
  border-radius: 20px;
  border: 6px solid #F6BD00;
  background-color: white;
  color: black;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 40px;
}

.question_options-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question_option-button {
  margin: 50px auto;
  min-width: calc(50% - 100px);

  height: 90px;
  border-radius: 10px;
  margin-top: 40px;
  border: 4px solid #F6BD00;
  background-color: white;
  color:  black;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Armorhide";
  font-size: 26px;
}

.question_option-button-selected {
  filter: brightness(70%);
}

.question_option-button-right {
  background-color: #00bb00;
  animation: button-blink .75s linear forwards;
}

@keyframes button-blink {
  0% { opacity: 1; }
  15% { opacity: 0.5; }
  30% { opacity: 1; }
  45% { opacity: 0.5; }
  60% { opacity: 1; }
  75% { opacity: 0.5; }
  90% { opacity: 0.5; }
  100% { opacity: 1; }
}

.question_option-button-wrong {
  background-color: #b33333;
}

.question_action-button {
  margin: auto 12px;
}

.question_answers-count-container {
  position: absolute;
  right: 80px;
  bottom: 60px;
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .question_header {
    max-width: 80%;
    padding: 20px;
  }

  .question_option-button {
    margin: 10px auto;
    width: calc(100% - 30px);
  }
}